


<nav  class="navbar navbar-expand-lg navbar-dark  bg-primary">

   
  
    
    <div class="row">

        <a style="margin-left: 20px" class="navbar-brand " href="/">
            Kláito, O Bom Da Guerra
        </a>
    
        <ul class="navbar-nav mr-auto">
    
            <li class="nav-item">
                <a class="nav-link" href="/"><Home></a>
            </li>
    
            <% categories.forEach(category =>{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/category/<%= category.slug%>"><%= category.title %></a>
                </li>
                
            <% }) %>
           
        </ul>
    </div>
        

</nav>
