.jumbotron{
    border-style: hidden;
    padding: 3%;
} 



body{
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
    background-image: url("../assets/dragon_background.jpg");
   
}

/* nav bar */

.barra{
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
}

/* tabelas  adimin */

table th, td{
   
    padding: 1px 5px;
    text-align: left;
}


.tabela{
    background-color: rgba(255, 255, 255, 0.493);
    color: black;
    border-radius: 15px;
    border: none;
}

.titulo{
    color: white;
}

.btn_criar{
  background-image: linear-gradient(92.88deg, #b54545 9.16%, #cc4343 43.89%, #d73f3f 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.btn_criar:hover {
    box-shadow: rgba(205, 63, 63, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

/* @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
} */



.center{
    text-align: center;
}







/* artigos index*/
.div_cards_index{
    
}

/*  card artigo */
.cabecalho_corpo{
    
}

.card_artigo{
    max-width: 80%;
}