.jumbotron{
    border-style: hidden;
    padding: 3%;
} 



body{
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
    background-image: url("../assets/dragon_background.jpg");
   
}

/* nav bar */

.barra{
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 10px;
}

/* tabelas  */


/* artigos index*/
.div_cards_index{
    
}

/*  card artigo */
.cabecalho_corpo{
    
}

.card_artigo{
    max-width: 80%;
}